<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogIncludeTimestamp="true"
      internalLogToConsole="true"
      internalLogToConsoleError="true"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd https://nlog-project.org/schemas/NLog.xsd">

    <!-- Переменные -->
    <variable name="custom_date" value="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
    <variable name="microsoftLevel" value="${when:when=level==LogLevel.Error:inner=fail}${when:when=level==LogLevel.Fatal:inner=crit}${when:when=level==LogLevel.Warn:inner=warn}${when:when=level==LogLevel.Info:inner=info}${when:when=level==LogLevel.Debug:inner=dbug}${when:when=level==LogLevel.Trace:inner=trce}" />

    <variable name="exception_layout" value="${onexception:inner=EXCEPTION: ${newline}${exception:format=tostring}}" />
    <variable name="logLayout" value="
		${newline}[${custom_date}] ${microsoftLevel}: ${logger}
		${newline}${message}
		${exception_layout}" />

    <!-- Таргеты -->
    <targets async="true">
        <target name="consoleTarget"
                xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="false"
                layout="${logLayout}">
            <highlight-word foregroundColor="DarkGreen" regex="info" ignoreCase="false" wholeWords="true" />
            <highlight-word foregroundColor="Yellow" regex="warn" ignoreCase="false" wholeWords="true" />
            <highlight-word foregroundColor="Black" backgroundColor="Red" regex="fail" ignoreCase="false" wholeWords="true" />
            <highlight-word foregroundColor="White" backgroundColor="Red" regex="crit" ignoreCase="false" wholeWords="true" />
        </target>
    </targets>

    <!-- Логгеры -->
    <rules>
        <logger name="System.*" maxlevel="Warn" final="true" />
        <logger name="Microsoft.*" maxlevel="Warn" final="true" />
        <logger name="App.Metrics.*" maxlevel="Warn" final="true" />
        
        <logger name="*"
                xsi:minlevel="Info"
                writeTo="consoleTarget"
                final="true" />
    </rules>
</nlog>